* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "LINESeedKR";
  font-weight: 400;
  background-color: #fafafa;
}

a {
  color: #ffc933;
  text-decoration: none;
  outline: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

@font-face {
  font-family: "LINESeedKR";
  font-style: normal;
  font-weight: 250;
  src: url("./assets/fonts/LINESeedKR-Th.otf") format("opentype");
}

@font-face {
  font-family: "LINESeedKR";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/LINESeedKR-Rg.otf") format("opentype");
}

@font-face {
  font-family: "LINESeedKR";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/LINESeedKR-Bd.otf") format("opentype");
}
